/*
File: Main Layout
Author: Wookler Inc
*/

@import url(navi.css);
@import url(forms.css);
@import url(tables.css);
@import url(slider.css);
@import url(homepage.css);
@import url(gallery.css);
@import url(portfolio.css);

html{overflow-y:scroll;}

/* this set the properties in wookler body */
body{margin:0; padding:0; font-size:14px; font-family:Georgia, "chalkboard", Times, serif; color:#000000; background-color:#f6f6f6;}

.justify{text-align:center;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{margin:0; padding:0; list-style:none;}
.hidden{display:none;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, hgroup, nav, section{display:block; margin:0; padding:0;}

q{display:block; padding:0 10px 8px 10px; color:#979797; background-color:#f6f6f6; font-style:italic; line-height:normal;}
q:before{content:'ì '; font-size:26px;}
q:after{content:' Ñ'; font-size:26px; line-height:0;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}

.row1, .row1 a{color:#000000; border:1; background-color:#B5B5B5}


/*----------------s------------------------------General-------------------------------------*/

#header, #topnav1, #sidenav, #container, #footer, #copyright{display:block; width:980px; margin:0 auto;}

h1, h2, h3, h4, h5 {margin:0; padding:0; font-size:30px; font-weight:normal; line-height:normal chalkboard;}
h6 {margin:0; padding:0; font-size:20px; font-weight:normal; line-height:normal chalkboard;}
.one_quarter, .two_quarter, .three_quarter, .four_quarter{display:block; float:left; margin:0 40px 0 0;}
.one_quarter{width:210px;}
.two_quarter{width:460px;}
.three_quarter{width:710px;}
.four_quarter{width:960px; float:none; margin-right:0; clear:both;}

.one_third, .two_third, .three_third{display:block; float:left; margin:0 30px 0 0;}
.one_third{width:300px;}
.two_third{width:630px;}
.three_third{width:960px; float:none; margin-right:0; clear:both;}

.one_fifth, .two_fifth, .three_fifth, .four_fifth, .five_fifth{display:block; float:left; margin:0 20px 0 0;}
.one_fifth{width:176px;}
.two_fifth{width:372px;}
.three_fifth{width:568px;}
.four_fifth{width:764px;}
.five_fifth{width:960px; float:none; margin-right:0; clear:both;}

.lastbox{margin-right:0;}

.more{text-align:right; clear:both;}

/*----------------------------------------------Header-------------------------------------*/

#header{padding:5px 0;}
#header hgroup{float:left;}
#header hgroup h1, #header hgroup h2{font-weight:normal; font-style:normal; text-transform:none chalkboard;}
#header hgroup h1{font-size:36px chalkboard;}
#header hgroup h2{font-size:13px chalkboard;}
	

/* ------Content-----*/

#container #content{float:left; width:630px; margin-bottom:0;}
/*----------------------------------------------Footer-------------------------------------*/

#footer{padding:30px 0; line-height:1.6em;}

#footer section{margin-bottom:0;}
#footer section h2.title{margin:0 0 25px 0; padding:0; color:#FFFFFF; background-color:#f6f6f6; font-size:12px; font-weight:bold; text-transform:uppercase;}
#footer section ul{margin:0; padding:0; list-style:none;}
#footer section p{margin:5px 0; padding:0;}



/* ---Gallery Thumbs---*/

#footer .ft_gallery li{float:left; margin:0 15px 15px 0; line-height:normal;}
#footer .ft_gallery li.last{margin-right:0;}

/* ---Tweet Box---*/

#footer .ft_tweets li{margin-bottom:10px;}

/* ------Quick Links-----*/

#footer section nav li{margin:0 0 8px 0; padding:0 0 5px 0; border-bottom:1px solid #555555;}
#footer section nav li.last{margin:0;}
#footer section nav a{padding:0 0 0 10px; background:url("../images/arrow.gif") left center no-repeat;}

/*----------------------------------------------Copyright-------------------------------------*/

#copyright{padding:20px 0;}
#copyright p{margin:0; padding: 0;}

/*----------------------------------------------Top Navigation-------------------------------------*/

/* CSS3 */  
.borderradius nav { 
	-moz-border-radius:42px; 
	-webkit-border-radius:42px; 
	border-radius:42px; 
	}  
.cssgradients nav { 
	background-image:-moz-linear-gradient(0% 22px 90deg, #222, #999); 
	background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#999), to(#222)); 
	}  
.boxshadow.rgba nav { 
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,.75); 
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,.75); 
	box-shadow:2px 2px 2px rgba(0,0,0,.75); 
	}  
.cssgradients nav li:hover { 
	background-image:-moz-linear-gradient(0% 100px 90deg, #999, #222); 
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#555)); }  
.borderradius nav ul ul { 
	-moz-border-radius-bottomleft:4px; 
	-moz-border-radius-bottomright:4px; 
	-webkit-border-bottom-left-radius:4px; 
	-webkit-border-bottom-rightright-radius:4px; 
	border-bottom-left-radius:4px; 
	border-bottom-rightright-radius:4px; 
	}  
.boxshadow.rgba nav ul ul { 
	background-color:rgba(0,0,0,0.8); 
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,.8);
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,.8); 
	box-shadow:2px 2px 2px rgba(0,0,0,.8); 
	}  
.rgba nav ul ul li { border-left:1px solid rgba(0,0,0,0.1); border-right:1px solid rgba(0,0,0,0.1); }  
.rgba nav ul ul a:hover { background-color:rgba(85,85,85,.9); }  
.borderradius.rgba nav ul ul li.last { border-left:1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.1); -moz-border-radius-bottomleft:4px; -moz-border-radius-bottomright:4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-rightright-radius:4px; border-bottom-left-radius:4px; border-bottom-rightright-radius:4px; }  
.csstransforms ul a span { -moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg); }

/* New CSS COde for navigation */

/* JS disabled styles */  
.no-js nav li:hover ul { display:block; }  
  
/* base nav styles - The first rule is purely for when JavaScript is disabled, and allows the hidden submenu to be displayed on hover purely with CSS. The rest of the code defines a set of base styles that format the <nav> menu in the way that we want without adding anything too decorative. Note that we’re using the :after pseudo-selector to clear the floated list items; normally this would be added using a class name to that it could be applied to the containers of any floated elements on the page. At this point our page should look like this:  
 */  
nav { display:block; margin:0 auto 20px; border:2px solid #222; position:relative; background-color:#6a6a6a; font:14px chalkboard; }  
nav ul { padding:0; margin:0; }  
nav li { position:relative; float:left; list-style-type:none; }  
nav ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }  
nav li a { display:block; padding:5px 48px; border-left:0; solid #000000; border-right:1px solid #222; color:#eee; text-decoration:none; }  
nav li a:focus { outline:none; text-decoration:underline; }  
nav li:first-child a { border-left:none; }  
nav li.last a { border-right:none; }  
nav a span { display:block; float:rightright; margin-left:5px; }  
nav ul ul { display:none; width:100%; position:absolute; left:0; background:#6a6a6a; }  
nav ul ul li { float:none; }  
nav ul ul a { padding:5px 10px; border-left:none; border-right:none; font-size:14px; }  
nav ul ul a:hover { background-color:#555; }  


/*----------------------------------------------Search Bar-------------------------------------*/
#search, #submit
{
	float: left;
}

#search
{
	padding: 5px 9px;
	height: 23px;
	width: 880px;
	border: 1px solid #6a6a6a;
	font: normal 13px 'chalkboard', chalkboard, helvetica;
	background: #f1f1f1;
	
	-moz-border-radius: 50px 3px 3px 50px;
	 border-radius: 50px 3px 3px 50px;
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{		
	background: #6a6a6a;
	background-image: -moz-linear-gradient(#6a6a6a, #6a6a6a);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #6a6a6a));
	
	-moz-border-radius: 3px 50px 50px 3px;
	border-radius: 3px 50px 50px 3px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #6a6a6a #6a6a6a #6a6a6a;
	
	 -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		

	height: 35px;
	margin: 0 0 0 10px;
    padding: 0;
	width: 90px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #6a6a6a;
	
	/*text-shadow: 0 1px 0 rgba(255,255,255,0.5); */
}

#submit:hover
{		
	background: #6a6a6a;
	background-image: -moz-linear-gradient(#6a6a6a, #6a6a6a);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6a6a6a),color-stop(1, #6a6a6a));
}	

#submit:active
{		
	background: #6a6a6a;
	outline: none;
   
	 -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#submit::-moz-focus-inner
{
       border: 0;  /* Small centering fix for Firefox */
}		

/*---this is testing heading ---*/

